<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ระบบนับจำนวนบัณฑิตที่เข้ารับพิธีพระราชทานปริญญาบัตร มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน</title>
    <!-- CSS only -->
    <link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mystyles.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container" id="header">
        <div class="row">
            <div class="col-sm-2">
                <img id="logo" src="{{url_for('static', filename='logo2.png')}}" />
            </div>
            <div class="col-sm-9" id="headerfont">
                ระบบนับจำนวนบัณฑิตที่เข้ารับพิธีพระราชทานปริญญาบัตร มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน

            </div>
        </div>

    </div>

    <!-- <center>
        <br>
        <br>
        <p class="fs-1">แก้ไขข้อมูลเริ่มต้น</p>
    </center> -->
    <!-- {% block conntent %}
    {% endblock %} -->
    <!-- <div class="container">
        <form action="" method="post">
            <div class="row">
                <div class="col-sm">
                    <label for="">ตั้งค่าเวลา</label>
                    <input type="text" name="Time" id="Time">
                </div>
                <div class="col-sm">
                    <label for="">เลื่อนซ้าย</label>
                    <input type="text" name="left" id="left">
                </div>
                <div class="col-sm">
                    <label for="">เลื่อนขวา</label>
                    <input type="text" name="right" id="right">
                </div>
                <div class="col-sm">
                    <button type="submit">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div> -->

    <!-- <br>
    <br> -->
    <div class="container" style="background: #fff9f7; padding-top: 20px; padding-left: 20px;">
        <div class="col-sm-12">
            <div class="row">
                <div class="container">
                    {% for data in side %}
                    <div class="row">
                        <div class="form-group row">
                            <form action="/delaytime" method="POST">

                                <input type="number" name="delaytime" placeholder="หน่วงเวลา {{data[0]}}">
                                <input id="btcf" class="btn btn-primary btn-sm" type="submit" value="หน่วงเวลา">
                                <label for="">เมื่อวัตถุหายไปมากกว่าเวลาที่กำหนด
                                    หากเจอวัตถุอีกรอบจะถือเป็นวัตถุใหม่</label>
                            </form>
                        </div>
                        <div class="form-group row">
                            <form action="/update_left" method="POST">
                                <input type="number" name="left" placeholder="ซ้าย {{data[1]}}">
                                <input id="btcf" class="btn btn-primary btn-sm" type="submit" value="เลื่อนเส้นซ้าย">
                                <label for="">สร้างเส้นกรอบเริ่มจากตรงกลางขยับไปด้านซ้ายเป็นหน่วย px</label>
                            </form>
                        </div>
                        <div class="form-group row">
                            <form action="/update_right" method="POST">

                                <input type="number" name="right" placeholder="ขวา {{data[2]}}">
                                <input id="btcf" class="btn btn-primary btn-sm" type="submit" value="เลื่อนเส้นขวา">
                                <label for="">สร้างเส้นกรอบเริ่มจากตรงกลางขยับไปด้านขวาเป็นหน่วย px</label>
                            </form>
                        </div>
                        <div class="form-group row">
                            <form action="/update_linetoken" method="POST">

                                <input type="txt" name="linetoken" placeholder="Line Token Link">
                                <input id="btcf" class="btn btn-primary btn-sm" type="submit" value="Line Token">
                                <label for="">ใส่ Line Token ที่ต้องการแจ้งเตือนไปยังกลุ่มนั้น ๆ</label>
                            </form>
                        </div>
                        <div class="form-group row">
                            <form action="/update_timenotify" method="POST">

                                <input type="number" name="timenotify" placeholder="{{data[3]}}">
                                <input id="btcf" class="btn btn-primary btn-sm" type="submit" value="timenotify">
                                <label for="">ตั้งค่าเวลาที่ต้องการให้ส่งข้อความไปที่ไลน์ทุก ๆ กี่วินาที</label>
                            </form>
                        </div>
                        <div class="form-group row">
                            <form action="/update_range_count" method="POST">
                                <input type="number" name="rangecount" placeholder="{{data[5]}}">
                                <input id="btcf" class="btn btn-primary btn-sm" type="submit" value="rangecount">
                                <label for="">ตั้งค่าช่วงที่ต้องการใช้งาน</label>
                            </form>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>