#logo {
  margin: 10px;
  width: 80px;
  margin-left: 65px;
}

#bandit {
  margin: 10px;
  width: 300px;
  margin-left: 150px;
}


#header{
  background: #7a0000;
  padding-left: 50px;
  height: 180px;
  padding-left: 20px;
  margin-bottom: 30px;
}

#headerfont{
  /* font-family: 'Kanit', sans-serif; */
  font-size: 35px;
  margin-top: 40px;
  color: white;
  text-align: center;
  margin-left: 30px;
}

#moniteringfont{
  /* font-family: 'Kanit', sans-serif; */
  font-size: 35px;
  margin-top: 40px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-left: 30px;
}

#selectdate{
  /* font-family: 'Kanit', sans-serif; */
  font-size: 25px;
  margin-top: 40px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-left: 30px;
}


#insertfact{
  width: 100px;
}


#btcf{
  width: 100px;
}


